# Desktop Entry Specification: https://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-latest.html
[Desktop Entry]
Version=1.5
Type=Application
Name=NekoPlayer
Comment=A new era of YouTube Video Player with a focus on design and creativity.
Icon=youtube-player-ex
Exec=NekoPlayer %u
Terminal=false
Categories=AudioVideo;
StartupWMClass=NekoPlayer
SingleMainWindow=true
StartupNotify=true
